*.exe filter=lfs diff=lfs merge=lfs -text
*.msi filter=lfs diff=lfs merge=lfs -text
packages/bradrothenberg/marine-return-loop-propeller-r5/marine-return-loop-propeller-r5.ntop filter=lfs diff=lfs merge=lfs -text
